<!DOCTYPE html>
<html>
<head>
  <title>JellyfishAzure</title>
  <%= stylesheet_link_tag    "jellyfish_azure/application", media: "all" %>
  <%= javascript_include_tag "jellyfish_azure/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
